html{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}

body{
    background-image: url(1234.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    width: 100%; height: 100vh;
    
}
*{
margin: 0;
padding: 0;
font-family: sans-serif;

}
.navbar{
height: 8vh;
width: 100%;
background-color: gray;
color: whitesmoke;
display: flex;s
align-items: center;
flex-direction: row;
justify-content: space-around;
}
.a{
    text-decoration: none;
    color: whitesmoke;
}

.signin{ 

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)

}
h3{
margin-top: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
color: gray;
font-size: 50px;
text-align: center;

}

input{
    
    display: block;
    width: 320px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;

}

button{ 
    width: 330px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 5px;







}